body,html,a,li,ul,h6,input{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    border:0;
    text-decoration:none;
    list-style: none;
    overflow: hidden;
}
*{
    box-sizing:border-box;
}
.swiper-container{
    width: 100%;
    height:100%;
}
.index-box{
	position:absolute;
	top:0;bottom:0;margin:auto;
	width:200%;
	height:100%;
	/*width:1000000rem;*/
}
.index-list{
	width:7.5rem;
	height:100%;
    overflow:hidden;
    /*padding:0 0.4rem;*/
    float:left;
}
.index-list>.index-list-img{
	margin:auto;
	width:3.06rem;
	height:2.76rem;
	margin-top:1rem;

}
.index-list:nth-child(1)>.index-list-img>img{
	width:100%;
	/*height:100%;*/
}
.index-list:nth-child(2)>.index-list-img>img:nth-child(1){
	width:100%;
	margin-left:-1rem;

	float:left;
}
.index-list:nth-child(2)>.index-list-img>img:nth-child(2){
	width:100%;
    margin-top:-1.1rem;
    margin-left:0.3rem;
    float:left;
}
.index-list>.index-font{
	width:2.5rem;
	padding:0.3rem;
	font-size:0.3rem;
	color:#333;
    background:#fff;
	line-height:0.5rem;
	margin:auto;
	margin-top:1.5rem;
	height:5rem;
}
.index-list:nth-child(1)>.index-font>span:nth-child(1){
	float:left;
	width:0.7rem;
	font-size:0.5rem;
	line-height:0.7rem;

	text-align:center;
}
.index-list:nth-child(1)>.index-font>span:nth-child(2){
	float:right;
	font-size:0.6rem;
	width:0.7rem;
	line-height:1rem;
	padding-top:0.15rem;

	text-align:center;
	font-weight:bold;
}
.index-list:nth-child(2)>.index-font>span:nth-child(1){
	float:left;
	width:0.7rem;
	font-size:0.5rem;
	line-height:0.7rem;
	text-align:center;

	
}
.index-list:nth-child(2)>.index-font>span:nth-child(2){
	float:right;
	font-size:0.6rem;
	width:0.7rem;
	line-height:1rem;
	padding-top:0.15rem;
	text-align:center;
	font-weight:bold;

	
}
.enter{
	width:5rem;
	margin:auto;
	position:relative;
	text-align:center;
}
.enter>img{
    width:100%;
    
}
.enter>a{
	position:absolute;
	right:0;left:0;margin:auto;
	font-size:0.5rem;
	top:0.7rem;
	color:#333;
}
