body,html,a,li,ul,h6,input{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    border:0;
    text-decoration:none;
    list-style: none;
    overflow: hidden;
}
*{
    box-sizing:border-box;
}
.backs{
	position:absolute;
	top:0.5rem;
	left:0.3rem;
	font-family:"iconfont";
	font-size:0.6rem;
	z-index:3;
	color:#333;
	width:0.5rem;
    height:0.5rem;
}
.show-box{
	width:100%;
	height:100%;
	background:url(../img/chenxi.jpg);
	background-size:cover;
	text-align:center;
	position:relative;
}
.show-box>h3{
	font-size:0.5rem;
	color:#333;
}
.show-box>.shows{
	width:100%;
	height:4rem;
	position:absolute;
	left:0;
	bottom:0;
	background:rgba(0,0,0,0.4)
}
.shows>.show-process-box{
	width:5rem;
	height:0.1rem;
	margin:auto;
	background:#485858;
	margin-top:0.4rem;
	border-radius:0.2rem;
	position:relative;
}
.shows>.show-process-box>.show-process{
	width:1%;
	height:100%;
	background:#fff;
	margin-top:0.4rem;
	border-radius:0.2rem;
}
.shows>.show-process-box>.show-process-dian{
	width:0.2rem;
	height:0.2rem;
	border-radius:100%;
	background:#fff;
	position:absolute;
	left:0;
	top:-0.05rem;
}
.shows>.show-process-box>.show-process-dian:before{
	content:"";
	display:block;
	width:0.1rem;
	height:0.1rem;
	border-radius:100%;
	background:green;
	position:absolute;
	left:0;right:0;bottom:0;
	top:0;margin:auto;
}
.shows>.show-process-box>.show-process-start{
	position:absolute;
	left:-0.1rem;
	top:0.1rem;margin:auto;
	font-size:0.3rem;
}
.shows>.show-process-box>.show-process-end{
	position:absolute;
	right:-0.1rem;
	top:0.1rem;margin:auto;
	font-size:0.3rem;
}
.shows>.show-play-box{
	width:100%;
	margin-top:0.7rem;
	position:relative;
	height:1rem;
}
.shows>.show-play-box>.show-play-ing{
	width:0.7rem;
	height:0.7rem;
	position:absolute;
	border-radius:100%;
	left:0;right:0;top:0;bottom:0;margin:auto;
	background:#D8D8D8;
	font-family:"iconfont";
	font-size:0.5rem;
	text-align:center;
	line-height:0.7rem;
}
.shows>.show-play-box>.show-play-left{
	width:0.6rem;
	height:0.6rem;
	position:absolute;
	border-radius:100%;
	top:0;bottom:0;margin:auto;
    left:2.2rem;
	font-family:"iconfont";
	font-size:0.4rem;
	text-align:center;
	line-height:0.6rem;
}
.shows>.show-play-box>.show-play-right{
	width:0.6rem;
	height:0.6rem;
	position:absolute;
	border-radius:100%;
	top:0;bottom:0;margin:auto;
    right:2.2rem;
	font-family:"iconfont";
	font-size:0.4rem;
	text-align:center;
	line-height:0.6rem;
}
.shows>.show-more{
	position:absolute;
	left:0;right:0;margin:auto;
	bottom:0.5rem;
	/*background:red;*/
}
.shows>.show-more>.show-more-dian{
	/*margin-left:-1rem;*/
	font-family:"iconfont";
	font-size:0.6rem;
	width:0.5rem;
	height:0.7rem;
	margin:auto;
}
.shows>.show-more>.show-mores{
	width:5rem;
	background:#fff;
	margin:auto;
	border-radius:0.2rem;
	display:none;
}
.shows>.show-more>.show-mores>li{
	width:100%;
	height:0.8rem;
	font-size:0.4rem;
	text-align:left;
	line-height:0.8rem;
	padding-left:0.3rem;
	border-bottom:1px solid #ccc;
	color:#333;
}