body,html,a,li,ul,h6,input{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    border:0;
    text-decoration:none;
    list-style: none;
    overflow: hidden;
}
*{
    box-sizing:border-box;
}

/*list列表*/
    .list-box{
    	margin-bottom:1rem;
    }
    .list-box a{
    	display:block;
    	width:100%;
    	height:100%;
    	color:#000;
    }
    .list-box .lists{
    	width:6.9rem;
    	height:3rem;
    	margin:0.3rem;

    	background-size:100% 100%;
    	text-align:center;
    	font-size:0.5rem;
    	color:#000;
    	position:relative;
    }
    .lists>.lists-news{
    	position:absolute;
    	right:0;
    	top:0;
    	width:0.8rem;
    	height:0.5rem;
    	background:greenyellow;
    	font-size:0.25rem;
    	line-height:0.5rem;
    	color:#fff;
    }
    .list-box .lists .lists-font{
    	position:absolute;
    	left:0;
    	right:0;
    	top:0;
    	bottom:0;
    	margin:auto;
    	height:1rem;
    }
    .list-box .lists .lists-font>span{
    	display:block;
    	
    }
    .list-box .lists .lists-font>span:nth-child(2){
    	font-size:0.35rem;
    	
    }
/*导航*/
    .hot{
        width:100%;
        height:1.5rem;
        display:flex;
        border-top:20px solid #fefefe;
        justify-content:spance-around;
        font-size: 0.18rem;
        text-align: center;
        background:#fefefe;
        position:absolute;
        bottom:0;
        left:0;
    }
    .hot-list .tubiao{
        height:0.44rem;
        width: 0.46rem;
        margin:auto;
        display:block;
        margin-bottom:0.08rem;
        font-family: "iconfont" !important;
        color:#333;
        font-size: 0.5rem;
    }

    .hot-list:nth-child(1) .tubiao{
        font-family: "iconfont" !important;
        color:#DF3031;
        font-size: 0.5rem;
       
    }
    
    .hot-list a{
        color:rgba(0,0,0,0.7);
        font-size: 0.23rem;
    }
    #wheels{
    	height:0.5rem;
    	line-height:0.5rem;
    }
/*iscrol*/
    #wrapper {
     
        width: 100%;
        overflow: hidden;
    }
    .up,.down{
        font-size:0.3rem;
        text-align: center;
        height:1rem;
        line-height: 1rem;
        background:#ccc;
        display:none;
    }
